article
{
    width: 80%;
}

aside
{
    margin-top: 15px;
    padding: 5px;
    width: 20%;
}

aside li
{
    list-style: disc;
    text-overflow: ellipsis;
}

.opcion
{
    background-color: aquamarine;
    border: 1px solid black;
    color: darkred;
    font-size: 2rem;
    height: 150px;
    line-height: 150px;
    margin: 10px 0;
    text-align: center;
    width: 350px;
}

#contenedor
{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#subcontenedor
{
    align-items: center;
    background-color: aqua;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 2em;
}

#subcontenedor a
{
    color: firebrick;
    display: block;
    text-decoration: none;
}

